.NavbarDiv {
    background-color: rgba(240, 162, 240, 0.259);
    padding: 10px;
}

.headerDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 2;
}

.cartDiv {
    grid-column: 3/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 55px;
    margin-left: 50px;
}

.imgLogo {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 20px;

    img {
        transition: 0.4s;

        &:hover {
            transition: 0.4s;
            transform: scale(1.1)
        }
    }
}

.itemsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

.containerDiv {
    background-color: rgba(116, 0, 116, 0.435);
    border-radius: 10px;
    padding: 5px;
}

.activeClass {
    text-decoration: none;
    font-size: 1.4rem;
    color: #d0cbc9;

    &:hover {
        color: #fff8f5;
    }
}

.inactiveClass {
    text-decoration: none;
    font-size: large;
    color: #fff8f5;

    &:hover {
        color: #d0cbc9;
    }
}

.toogleBorder {
    border: none
}