.productsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    align-items: center;
    padding: 25px;
}

@media screen and (max-width: 991px) {
    .productsContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}