.counterDiv {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(226, 226, 226, 0.369);
    border-radius: 20px;
    margin-bottom: 5px;

    div {
        padding: 6px 20px;
        font-size: large;
        font-weight: 700;

        &:hover {
            transform: scale(1.2);
            transition: 0.4s;
        }
    }
}

.counterButton {
    background-color: rgba(116, 0, 116, 0.435)!important;
    border: rgba(116, 0, 116, 0.435)!important;

    &:hover {
        background-color: rgba(116, 0, 116, 0.574) !important;
    }
}

