
.footerDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    background-color: rgba(128, 128, 128, 0.105);
}

.divIcon {
    grid-column: 2/3;
    grid-row: 1/2;
    flex-direction: row;

    p {
        font-size: large;
        font-weight: 550;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: -5px;
        border-top: solid 2px rgba(128, 128, 128, 0.186) ;
    }

    img {
        width: 40px;
        height: 40px;
        margin: 7px;
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgb(200, 200, 200);
        transition: 0.1s;

        &:hover {
            transform: scale(1.1);
            transition: 0.2s;

        }
    }
}

.signatureFooter {
    grid-column: 2/3;
    grid-row: 2/2;
    flex-direction: row;
    font-size: small;
    margin-top: 25px;
}

.dropup {
    grid-column: 3/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 35px;
    background-color: rgba(187, 184, 184, 0.499);
    border-radius: 10%;
    margin-left: 65%;
    margin-top: -18px;


    button {
        border: none;
    }

    &:hover {
        transform: scale(1.04)
    }
}