footer {
    background-color: #fff8f5;
}

.footerDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
}

.divIcon {
    grid-column: 2/3;
    grid-row: 1/2;
    flex-direction: row;

    p {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    img {
        width: 40px;
        height: 40px;
        margin: 7px;
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgb(200, 200, 200);

        &:hover {
            transform: scale(1.1)
        }
    }
}

.signatureFooter {
    grid-column: 2/3;
    grid-row: 2/2;
    flex-direction: row;
    font-size: small;
}

.dropup {
    grid-column: 3/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 35px;
    background-color: rgba(187, 184, 184, 0.499);
    border-radius: 5%;


    button {
        border: none;
    }

    &:hover {
        transform: scale(1.04)
    }
}

.dropUpHome {
    grid-column: 3/3;
    grid-row: 1/2;
    display: flex;
    justify-content: end;
    margin-top: -18px;
    margin-right: 20px;

}