.itemDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 350px;
    height: 500px;
}

.cardDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 15px;
    border: 1.5px solid rgba(116, 0, 116, 0.435) !important;
    transition: 0.5s;

    &:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }

}

.imgProducts {
    height: 350px !important;
}

.titleDiv {
    margin-bottom: 20px;
}