.itemListContainerDiv {
    background-color: #fff8f5
}

// .itemListLoader{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: #fff8f5
// }

.loadingDiv {
    background-color: rgba(116, 0, 116, 0.435) !important;
    border: rgba(116, 0, 116, 0.435) !important;

}

.loaderContainer{
    height:850px;
    width: fit-content;
    margin-top: 20px;
}